.Button{
    background-color: rgb(48, 48, 48);
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    height: 45;
}
.Button:hover{
    background-color: var(--color-title);
}
.NavigationButton{
    text-decoration: none;
    background-color: rgb(48, 48, 48);
    border: none;
    color: rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 1px;
    height: 45;

}
.EditButton{
    width: auto;
    height: auto;
    border: none;
    outline: none;
}
.settingsButton{
    font-weight: 500;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    color: transparent;
    text-shadow: 0 0 0 black;
}

.settingsButton2{
    font-weight: 500;
    padding: 5px 10px;
    color: white;
    background-color:  var(--color-title);
    text-decoration: none;
    max-width: 100px;
    max-height: 25px;
}

.ToolbarButton{
    border: none;
    background-color:#18181a;
    height: 100%;
    width: auto;
    padding: 16px 10px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.ToolbarButton:hover,
.ToolbarButton:active{
    border: none;
    background-color:#18181a;
    box-shadow: inset 0 0 20px #000000;
}
.ToolbarButton:nth-of-type(3){
    margin-right: 50px;
}

.NavigationButton:hover{
    background-color: var(--color-title);
}

.Button:active{
   
    opacity: 0.5;
}

@media(max-width: 1100px ){
    .ToolbarButton{
        display: block;
        border: none;
        width: 100%;
        background-color: rgb(248, 248, 248);
        padding: 16px 25px;
        margin-top: 2px;
        font-size: 20px;
        outline: none;
        text-align: start;
        border-left: solid 6px #000000;
    }
    
    .ToolbarButton:hover,
    .ToolbarButton:active{
        border: none;

        box-shadow: inset 0 0 20px #000000;
    }
    .ToolbarButton:nth-of-type(3){
        margin-right: 0px;
    }
}
