.NavigationItem{
    margin:0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: large;
}

.NavigationItem a {
    color: #000000;
    text-align: start;
    padding: 16px 10px 16px 25px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    font-style: inherit;
    display: block;
    border-left: solid 6px #49bfee;
    margin-top: 2px;
    background-color: rgb(248, 248, 248);
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #49bfee;
}

@media (min-width: 1100px) {
    .NavigationItem{
        margin: 0;
        padding: 0;
        position: relative;
        display: block;
        box-sizing: border-box;
        height: 100%;
        width: auto;
        align-items: center;
    }

    
    .NavigationItem a {
        color: white;
        background-color:#18181a;
        height: 100%;
        width: 150px;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        text-align: center;
        font-size: 20px;
        border-left: none;
    }
    
    .NavigationItem a:hover{
        background-color:#18181a;
        border-bottom: 4px solid #34c8fd;
        color: white;
        box-shadow: inset 0 0 10px #000000;
    }
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color:#18181a;;
        border-bottom: 4px solid #34c8fd;
        color: white;
        box-shadow: inset 0 0 10px #000000;
    }
     .NavigationItem:nth-of-type(2) {
        margin-left: auto;
    }
   
    .NavigationItem:nth-of-type(4) {
        margin-right: auto;
    }
 
   .NavigationItem:nth-of-type(5) {
        margin-left: auto;
        margin-right:auto;
    }  
}
