
@media (min-width: 1100px) {
    h1 {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100px;
        font-weight: 200;
        padding-left: 200px;
        text-align: start;
    }
    
    p {
        text-align: start;
        padding-left: 70px;
        padding-right: 30px;
    }
    .Button{
        position: absolute;
        margin-left: 70px;
        margin-right: auto;
        bottom: 70px;
    }

.NameContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 90%;
    height: auto;
    display: grid;
    background-color: rgb(44, 41, 54);
    animation: fall ease 2s;
}

@keyframes fall {
    0%      { transform: scale(1, 1) translatey(-1000%);}
    70%      { transform: scale(1, 1) translatey(-1000%);}
    74%      { transform: scale(1, 1) translatey(-1%);}
    75%     { transform: scale(1.05, 0.95) translatey(0);}
    85%     { transform: scale(0.98, 1.02) translatey(-10%);}
    90%    { transform: scale(1, 1) translatey(0);}
    100%    { transform: scale(1, 1) translatey(0);}
  }
@keyframes fall_1 {
    0% { 
        transform: translatey(-1000%);
    }
    60% { 
        transform: translatey(-1000%);
    }
    90% { 
        transform: translatey(10%);
    }
    100% {
        transform: translatey(0);
    }
  }

@keyframes crash {
    0% { 
        transform: translatex(1000%);
    }
    80% {
        transform: translatex(1000%);
    }
    90% {
        transform: translatex(-10%);
    }
    95% {
        transform: translatex(5%);
    }
    100% {
        transform: translatex(0);
    }
  }

@keyframes up {
    0% { 
        transform: translatey(1000%);
    }
    100% {
        transform: translatey(0);
    }
  }
  

.NameContainer h1{
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: rgb(255, 255, 255);
}
.MainPagePicture {
    animation: up ease 0.6s;
}
.box1 {
    height: 100px;
    background-color: #f0f0f0;
    z-index: 1000;
    position: relative;
}
.box2 {
    height: 100px;
    background-color: #f0f0f0;
    z-index: 1000;
    position: relative;
}
.MainInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: calc((100vw * 0.9 - 400px - (0.06* 100vw * 0.9))) 400px;
    grid-gap: 6%;
}

.MainInfo .MainInfoBox {
    background-color: rgb(185, 180, 176);
    height: 400px;
    opacity: 0.9;
    animation: fall_1 1s;
}
.MainInfo .MainInfoBox h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: start;
    padding-left: 70px;
}
.MainInfo .ProfilePicture{
    animation: crash 1.2s;
}

.PortfolioInfo {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 90%;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: 400px calc((100vw * 0.9 - 400px - (0.06* 100vw * 0.9)));
    grid-gap: 6%;
}

.PortfolioInfo .PortfolioInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    height: 400px;
    opacity: 0.9;
}



.PortfolioInfo .PortfolioInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 70px;
}

.ProjectsInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 90%;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: calc((100vw * 0.9 - 724px - (0.06* 100vw * 0.9))) 713px;
    grid-gap: 6%;
}

.ProjectsInfo .ProjectsInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    height: 400px;
    opacity: 0.9;
}
.ProjectsInfo .ProjectsInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 70px;
}
.ContactInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 90%;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: 724px calc((100vw * 0.9 - 724px - (0.06* 100vw * 0.9)));
    grid-gap: 6%;
}

.ContactInfo .ContactInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    height: 400px;
    opacity: 0.9;
}
.ContactInfo .ContactInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 70px;
}
.HobbiesInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    width: 90%;
    height: 400px;
    position: relative;
    display: grid;
    grid-template-columns: calc((100vw * 0.9 - 404px - (0.06* 100vw * 0.9))) 404px;
    grid-gap: 6%;
}

.HobbiesInfo .HobbiesInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    opacity: 0.9;
}
.HobbiesInfo .HobbiesInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 70px;
}
}

@media (max-width: 1099px){

    h1 {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100px;
        font-weight: 200;
        text-align: center;
        margin-top: auto;
    }
    
    p {
        text-align: start;
        padding-left: 50px;
        padding-right: 30px;
        margin-bottom: 40px;
    }
    .Button{
        position: relative;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .PictureBackground {
        background-color: rgb(185, 180, 176);
        box-sizing: border-box;
    }

    .MainPagePicture {
        margin-top: 50px;
    }
    

.MainInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
}

.MainInfo .MainInfoBox {
    background-color: rgb(185, 180, 176);
    height: auto;
    opacity: 0.9;
}
.MainInfo .MainInfoBox h3{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: start;
    padding-left: 50px;
}

.EducationInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
}

.EducationInfo .EducationInfoBox {
    background-color: rgb(185, 180, 176);
    height: auto;
    opacity: 0.9;
}



.EducationInfo .EducationInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
}

.ExperienceInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
}

.ExperienceInfo .ExperienceInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    opacity: 0.9;
}
.ExperienceInfo .ExperienceInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 50px;
}
.SkillsInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
}

.SkillsInfo .SkillsInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.SkillsInfo .SkillsInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 50px;
}
.HobbiesInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 70%;
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
}

.HobbiesInfo .HobbiesInfoBox {
    background-color: rgb(185, 180, 176);
    width: 100%;
    opacity: 0.9;
}
.HobbiesInfo .HobbiesInfoBox h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
}
}