@media (min-width: 1100px) {

    h1 {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 100px;
        font-weight: 200;
        padding-left: 200px;
        text-align: start;
    }

    h3{
        text-align: start;
        padding-left: 50px;
        font-size: 24px;
    }


    h4 {
        text-align: start;
        padding-left: 50px;
        margin-top: 24px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
    }
    .container{
        margin-bottom: 50px;
    }

    .experienceInfo {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        position: relative;
        display: grid;
        grid-template-columns: calc((0.9 * 100vw - 600px))  600px;
        grid-template-rows: 338px;
        margin-bottom: 50px;
        box-shadow: var(--box-shadow-1);
        background-color: var(--color-box);
    }
    .experienceInfo .experienceInfoLink{
        width: 300px;
    }

    .experienceInfo .experienceInfoBox {
        height: auto;

    }

    .experienceInfo .experienceInfoBox p{
        text-align: start;
        padding: 10px 20px 10px 50px ;
        margin: 0;
    }
    .experienceInfo .experienceInfoBox .experienceInfoLink {
        margin-top: 24px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox .experienceInfoLink2 {
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox a{
        text-align: start;
        text-decoration: none;
        color: black;
    }
    .experienceInfo .experienceInfoBox a:hover{
        color: var(--color-title);
    }
    .experienceInfo .experienceInfoBox2 {
        height: auto;
    }

    .experienceInfo .experienceInfoBox2 p{
        text-align: start;
        padding-left: 50px;
        padding-right: 0;
    }
    .experienceInfo .experienceInfoBox2 .experienceInfoLink {
        margin-top: 24px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox2 .experienceInfoLink2 {
        margin-top: 24px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox2 a{
        text-decoration: none;
        color: black;
    }
    .experienceInfo .experienceInfoBox2 a:hover{
        color: rgb(189, 129, 74);
    }

}
@media (max-width: 1099px) {

    .container h1 {
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 50px;
        font-weight: 200;
        text-align: center;
        margin: 50px 0 50px 0;
    }

    h3{
        text-align: start;
        padding-left: 20px;
        font-size: 24px;
    }


    h4 {
        text-align: start;
        padding-left: 30px;
        margin-top: 24px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
    }
    .container{
        margin-bottom: 50px;
    }

    .experienceInfo {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 90%;
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
        box-shadow: var(--box-shadow-1);
        background-color: var(--color-box);
    }

    .experienceInfo .experienceInfoLink{
        width: auto;
    }

    .experienceInfo .experienceInfoBox {
        height: auto;
        margin-bottom: 20px;
    }

    .experienceInfo .experienceInfoBox p{
        text-align: start;
        margin: 0;
        padding: 10px 20px 10px 30px;
    }
    .experienceInfo .experienceInfoBox .experienceInfoLink {
        margin-top: 24px;
        text-align: start;
        padding-left: 30px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox .experienceInfoLink2 {
        text-align: start;
        padding-left: 30px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox a{
        text-align: start;
        text-decoration: none;
        color: black;
    }
    .experienceInfo .experienceInfoBox a:hover{
        color: var(--color-title);
    }
    .experienceInfo .experienceInfoBox2 {
        height: auto;
    }

    .experienceInfo .experienceInfoBox2 p{
        text-align: start;
        padding-left: 50px;
        padding-right: 0;
    }
    .experienceInfo .experienceInfoBox2 .experienceInfoLink {
        margin-top: 24px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox2 .experienceInfoLink2 {
        margin-top: 24px;
        text-align: start;
        padding-left: 50px;
        padding-right: 50px;
    }
    .experienceInfo .experienceInfoBox2 a{
        text-decoration: none;
        color: black;
    }
    .experienceInfo .experienceInfoBox2 a:hover{
        color: rgb(189, 129, 74);
    }

}