.Toolbar{
    position: fixed;
    overflow: hidden;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #18181a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
    /* box-shadow:  inset 0px -1px 5px 0px rgba(167, 164, 163, 0.5);  */
}

.Toolbar nav{
    height: 10%;
}

@media (max-width: 1100px){
    .DesktopOnly{
        display:none;
    }
    .Toolbar {
        height: 60px;
    }
    .Toolbar .Logo2 {
        display: none;
    }
}