@media (min-width: 1100px) {
    .wrapper{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(230, 230, 230);
        width: 90%;
        overflow-y: scroll;
        height: 500px;
        box-shadow: 0 3px 3px #ccc;
    }

    .booksContainer{
        margin: 0;
        padding: 70px;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: relative;
        display: grid;
        grid-template-columns: calc(100vw * 0.9 * 0.9 - 200px) 200px;
        box-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .booksContainer .booksContainerInfo{
        height: auto;
    }

    .booksContainer .booksContainerInfo h2{
        text-align: start;
        padding-left: 16px;
        font-size: 24px;
        font-weight: 400;
    }
    .booksContainer .booksContainerInfo p{
        text-align: start;
        padding-left: 20px;
        padding-right: 40px;
    }
}
@media (max-width: 1099px) {
    .wrapper{
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(194, 194, 194);  
        width: 90%;
    
        box-shadow: 0 3px 3px #ccc;
    }

    .booksContainer{
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        margin-bottom: 70px;
        padding-bottom: 20px;
        width: 85%;
        position: relative;
        display: grid;
        grid-template-rows: auto 470px;
    }
    .booksContainer .booksContainerInfo{
       margin: 20px 0;
    }


    .booksContainer .booksContainerInfo h2{
        text-align: start;
        padding-left: 0;
        font-size: 24px;
        font-weight: 300;
    }
    .booksContainer .booksContainerInfo p{
        text-align: start;
        padding: 10px 0px;
    }
}