@media (min-width: 1100px) {
    
@keyframes animation {
    0% { 
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  .editbook {
    position: fixed;
    top: 100px;
    z-index: 1000;
    }
    .wrapper{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(230, 230, 230);
        width: 90%;
        overflow-y: scroll;
        height: 700px;
        box-shadow: var(--box-shadow-1);
    }
    .wrapperEditable{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        animation: animation 0.2s;
    }

    .booksContainer{
        margin: 0;
        padding: 70px;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: relative;
        display: grid;
        grid-template-columns: calc(100vw * 0.9 * 0.9 - 200px) 200px;
        box-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .booksContainerEditable{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: relative;
        display: grid;
        grid-template-columns: calc(100vw * 0.6 - 220px) 200px;
        border-top: solid 1px #ccc;
     
    }
    .booksContainerEditable .icon{
        position: absolute;
        left: 10px;
        top: 10px;
        opacity: 0.2;
    }
    .booksContainerEditable .icon:hover{
        position: absolute;
        left: 10px;
        top: 10px;
        opacity: 1;
        cursor: pointer;
    }
    .booksContainer .booksContainerInfo{
        height: auto;
        margin: 20px 0;
    }
    .booksContainerEditable .booksContainerInfoEditable{
        height: auto;
        margin: 20px 0;
    }

    .booksContainer .booksContainerInfo h2{
        text-align: start;
        padding-left: 16px;
        font-size: 24px;
        font-weight: 400;
    }
    .booksContainerEditable .booksContainerInfoEditable h2{
        text-align: start;
        padding-left: 16px;
        font-size: 24px;
        font-weight: 400;
    }
    .booksContainer .booksContainerInfo p{
        text-align: start;
        padding-left: 20px;
        padding-right: 40px;
    }
    .booksContainerEditable .booksContainerInfoEditable p{
        text-align: start;
        padding-left: 20px;
        padding-right: 40px;
    }
    .booksContainer .booksContainerPicture img{
        width: 200px;
    }
    .booksContainerEditable .booksContainerPictureEditable img{
        width: 200px;
        margin: 20px 0;
    }
}
@media (max-width: 1099px) {
    .wrapper{
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(194, 194, 194);  
        width: 90%;
        box-shadow: 0 3px 3px #ccc;
    }

    .booksContainer{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: 90%;
        position: relative;
        display: grid;
        grid-template-rows:auto auto;
        border-bottom: 1px solid black;
    }
    .booksContainer .booksContainerPicture img{
        max-height: 350px;
    }

    .booksContainer .booksContainerInfo{
       margin: 20px 0;
    }


    .booksContainer .booksContainerInfo h2{
        text-align: start;
        padding-left: 0;
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
    }
    .booksContainer .booksContainerInfo p{
        text-align: start;
        padding: 5px 0px;
    }
}