
@keyframes animation {
    0% { 
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
.Form{
    margin: 20px auto;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    animation: animation 0.2s; 
    
}

.Form .Title h4{
    text-align: center;
    padding: 20px 20px;
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}

.Form .ImageUpload{
    height: 100px;
    padding: 20px 20px;

}
.Form .ImageUpload .InputElement{
    padding: 10px;
}

.warning {
    margin: 0;
    padding: 0 0 0 15px;
    color:rgb(255, 0, 0);
    text-align: start;
}


@media (min-width: 600px) {

    .Form{
        position: fixed;
        top: 100px;
        border-radius: 10px;
        z-index: 1000;
        margin: 20px auto;
        width: 60%;
        text-align: center;
        box-sizing: border-box;
        background-color: var(--color-box);
    }
    
    .Form .Title h4{
        text-align: center;
        padding: 20px 20px;
        margin: 0;
        font-size: 30px;
        font-weight: 500;
    }
    
    .Form .ImageUpload{
        height: 100px;
        padding: 20px 20px;
    
    }
    .Form .ImageUpload .InputElement{
        padding: 10px;
    }
}